<p class="display-6">Ingrese su nueva Contraseña</p> 
<form action="/api/users/recoverPassAction/{{token}}" method="post" class="form">
    <div class="from-group">
    Contraseña: <input type="text" name="password" class="form-control"> <br>
    </div>
    <input type="submit" value="Modificar" class="btn btn-primary">
</form>