<p class="display-6">Recuperar contraseña</p>
<form action="/api/users/reminder" method="post" class="form">
    <div class="form-group">
    Email: <input type="text" name="email" class="form-control"> <br>
    </div>
    <input type="submit" value="Recuperar" class="btn btn-primary">
</form>